VITE_API_BASE_URL=https://your-backend-domain.com/api
VITE_SOCKET_URL=https://your-backend-domain.com
VITE_SUPABASE_URL=https://ntxublkpbfmnaxjadhuc.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SsVWDzTpWFNjaa-hhxpQJg_nkngcSZl
